{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^components/(.*)$",
    "^[./]"
  ],
  "filepath": "./src/",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "parser": "typescript"
}
